@{
    var id = User.Claims.Where(c => c.Type == "UserID").Select(c => c.Value).SingleOrDefault();
    string ac_id = User.Claims.Where(c => c.Type == "AccountTypeID").Select(c => c.Value).SingleOrDefault();
    if(ac_id == null)
    {
        ac_id = "2";
    }
    int aid = Int32.Parse(ac_id);

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Evy </title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Songs/index">Discover</a>
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-route-id=@id asp-page="/users/Details"> @User.Identity.Name </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/users/SignOut"> Sign Out </a>
                            </li>
                            @if (aid == 1)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/songs/create" asp-route-id=@id> Upload </a>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/users/signin">Sign In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/users/create">Sign Up</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <body>
        <td>
            <audio controls autoplay preload="none" id="aud" autobuffer>
                <source src="~/music/GermanyNationalAnthem(Instrumental).mp3" id="a-src" type='audio/mp3'>
            </audio>
        </td>
    </body>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Evy - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        function setCookie()
        {
            sessionStorage.setItem("timeplayed", document.getElementsByTagName('audio')[0].currentTime);
            sessionStorage.setItem("audioSource", document.getElementById('a-src').src);
            //sessionStorage.setItem("playSong", played);
        }

        function getCookie()
        {
            return sessionStorage.getItem("timeplayed");
        }

        var song = document.getElementsByTagName('audio')[0];
        var played = false;
        var tillPlayed = getCookie();
        var source = document.getElementById('a-src');

        function update()
        {
            if (sessionStorage.getItem("playSong") == 1) {
                sessionStorage.setItem("playSong", 0);
                source.src = sessionStorage.getItem("url");
                song.currentTime = 0;
                song.load();
                song.play();
            }

            if(!played){
                if (tillPlayed) {
                    song.currentTime = tillPlayed;
                    source.src = sessionStorage.getItem("url");
                    song.load();
                    song.play();
                    played = true;
                }
                else {
                        song.play();
                        played = true;
                }
            }

            else {
            setCookie();
            }
        }
        setInterval(update, 20);

        //"~/music/GermanyNationalAnthem(Instrumental).mp3"
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>

